body {
    background-image: url("../img/spotify.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    margin: 0;
    padding: 0;
}
.titre {
    color: black;
    text-align: center;
    font-size: 5rem;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}
.box {
    align-items: center;
}
.Damso {
    background-image: url("../img/damso.jpg");
    text-align: center;
    font-size: 3rem;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}
.Laylow {
    background-image: url("../img/laylow.jpg");
    text-align: center;
    font-size: 3rem;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}